.approach {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;

    @include mediaTablet {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    &-left {
        position: relative;

        @include mediaTablet {
            text-align: center;
        }

        &__img {
            width: 350px;
            height: 400px;
            border-radius: 24px;
        }
    }
}



.approach-left__img-bg {}

.approach-left__img-fg {
    position: absolute;
    top: 200px;
    left: 80px;
}

