.contacts {
    position: relative;
    max-width: 85%;
    top: 80px;
    padding: 40px 100px;
    box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
    margin: auto;
    background: #ffffff;

    @include mediaTablet {
        padding-left: 24px;
        padding-right: 24px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mediaTablet {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &-left {
        &__subtitle {
            font-size: 18px;
            font-weight: 400;
            padding-bottom: 8px;
            color: rgba(242, 190, 34, 1);

            @include mediaTablet {
                font-size: 16px;
            }

        }

        &__title {
            font-size: 26px;
            font-weight: 800;
            color: rgba(24, 18, 30, 1);

            @include mediaTablet {
                font-size: 24px;
                padding-bottom: 16px;
            }
        }
    }

    &-right {
        &__emailLabel {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 8px;

        }

        &__emailBox {
            display: flex;
            gap: 16px;

            @include mediaTablet {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 24px;
            }


            &-input {
                width: 100%;
                height: 44px;
                text-align: center;
                border: none;
                border-radius: 4px;
                background: rgba(243, 245, 244, 1);
                margin-bottom: 8px;
                font-size: 14px;
                font-weight: 300;
                color: rgba(24, 18, 30, 1);

            }
        }

        &__paragraph {
            font-size: 14px;
            font-weight: 600;

            &-underline {
                text-decoration: underline;
            }
        }
    }
}