.header {
    background-image: url("/img/img/header_bg.png");
    background-repeat: no-repeat;
    padding-top: 16px;
    padding-bottom: 80px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.header-nav__logo {}

.header-nav__menu {
    display: flex;
    gap: 24px;

    &-link {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: rgba(253, 253, 253, 1);
    }
}

.header-content {
    font-family: $font-header;
    font-size: 50px;
    text-transform: uppercase;
    padding-top: 463px;
    padding-bottom: 41px;
    color: rgba(253, 253, 253, 1);

}

.header-form {
    
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}

.header-form__wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;


}

.header-form__group-select {
    width: 270px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 14px 16px 14px 16px;
    margin-bottom: 8px;
    cursor: pointer;
}

.header-form__group-select-text {
    font-size: 16px;
    font-weight: 700;
    color: rgba(253, 253, 253, 1);

}

.header-form__select-text--option {
    color:black;
    background: gray;
}
.header-form__group-text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(253, 253, 253, 1);

}

input::placeholder {
    color: rgba(253, 253, 253, 1);
    ;
}

.no_text_into_input {
    opacity: 0;
}