.header {
    background-image: url("/img/img/header_bg.png");
    background-repeat: no-repeat;
   
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.header-nav__logo {}

.header-nav__menu {
    display: flex;
    gap: 24px;

    &-link {
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        color: rgba(253, 253, 253, 1);
    }
}
.header-content {
    font-family: $font-header;
font-size: 50px;
text-transform: uppercase;
color: rgba(253, 253, 253, 1);

}

.header-form__wrapper {
    background: rgba(255, 255, 255, 0.2);

}

.header-form__group-select {
border-radius: 8px;
background: rgba(225, 227, 228, 1);
border: 1px solid rgba(225, 227, 228, 1);
padding: 14px 44px 14px 16px;
margin-bottom: 8px;
cursor: pointer;
}
.header-form__group-select-text {
    font-size: 16px;
    font-weight: 700;
    color: rgba(253, 253, 253, 1);

}

.header-form__group-text {
font-size: 14px;
font-weight: 400;
color: rgba(253, 253, 253, 1);

}