.hikeVideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;

    @include mediaTablet {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    @include mediaMobile {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
}

.hikeVideo-left {
    position: relative;
    min-width: 460px;
    height: 500px;

    @include mediaTablet {

        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    @include mediaMobile {

        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

    }

    &__wrapper {
        position: absolute;
        top: 90px;
        left: 100px;

        @include mediaTablet {
            position: static;
        }

        @include mediaMobile {
            position: static;
        }
    }

}

.hikeVideo-left__img {
    width: 350px;
    height: 400px;
    border-radius: 24px;
    position: relative;
}

.hikeVideo-left__img-bg {
    position: relative;

    @include mediaTablet {
        position: static;
    }

    @include mediaMobile {
        position: static;
    }
}

.hikeVideo-left__img-fg {}

.hikeVideo-left__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mediaTablet {
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include mediaMobile {
        position: absolute;
        top: 73%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}



path:hover {
    fill: #ffff00;
}