.hikeVideo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;

    @include mediaTablet {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

}

.hikeVideo-left {
    position: relative;

    &__wrapper {
        position: absolute;
        top: 90px;
        left: 100px;
    }

}

.hikeVideo-left__img {
    width: 350px;
    height: 400px;
    border-radius: 24px;
    position: relative;
}

.hikeVideo-left__img-bg {}

.hikeVideo-left__img-fg {
    /*
    left: 90px;
    top: -248px;
    */
}

.hikeVideo-left__svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

path:hover {
    fill: #ffff00;
}