.impression {
    &-wrapper {
        padding: 40px 0;
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3px;
        @include mediaTablet {
        }
    }

    &-photo {
        border-radius: 6px;
        transition: 0.5s all ease-in-out;
        width: 50%;

        &:hover {
            transform: scale(1.2);
        }

        &__big {
            width: 580px;
            height: 250px;
            width: 48%;

        }

        &__small {
            width: 280px;
            height: 250px;
        }
    }
}

.block-padding__impression {
    padding-bottom: 0px;
}